.Part1 {
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-bottom: 5%;
}

.Part2 {
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-bottom: 5%;
}
.Part3 {
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-bottom: 5%;
}

.Part4 {
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-bottom: 5%;
}